body{
    padding-top: 50px;
}
.starter{
    padding: 40px 15px;
    text-align: center;
}
[class*="col-"]{
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.input{
    width: 600px;
    display: inline;
    margin-left: 210px;
}
div.left{
    width: 500px;
    float: left;
    padding-left: 0;
}
.right{
    float: right;
    width: 500px;
}
.container>.navbar-header{
    margin-right: 0;
    margin-left: 520px;
}
.box {
    margin-top: 15px;
    height: auto;
    padding: 0;
    background-color: #dddddd;
    border-radius: 5%;
    margin-bottom: 20px;
}
h2{
    display: inline;
}
.list-group {
    margin-bottom: 0;
    margin-top: 28px;
}
.span_one{
    float: left;
    margin-left: 200px;
}
.span_two {
    position: relative;
    right: -550px;
}
.btn-sm {
    display: inline;
    width: 10%;
    float: right;
    margin-top: 12px;
    margin-right: 30px;
}
p {
    margin: 18px 0 16px 30px;
    width: 70%;
    display: inline;
    float: left;
}
.add{
    width: 100%;
    height: auto;
}
.add{
    margin: 5px 0;
}
.add:hover{
    color: #0f0f0f;
}